body {
  min-height: 2000px;
  padding-top: 40px;
}

/*modal unclickable issue*/
body.modal-open div.modal-backdrop {
    z-index: 0;
}

.main-font {
  font-family: 'Gloria Hallelujah', cursive;
}

.secondary-font {
  font-size: 12px
}

.navbar {
  height: 44px;
}

.navbar li:hover {
  background-color: #aaaaaa;
}

a.nav-link {
  font-size: 17px;
}


.navbar-brand {
  font-size: 32px;
  border-color: #fff;
}

.navbar-default {
  /*height: 56px;*/
  background-color: #fff;
  border-color: #fff;
  padding: 6px 44px 0 30px;
}

.navbar-toggle {
  margin-right: 0px;
  margin-top: 0px;
}

.navbar-right {
  margin-right: 8px;
  background-color: white;
  margin-top: 6px;
}

.navbar-collapse  {
  margin-right: -9px;
}

.jumbotron {
  background-size: 100%;
  background-position: center;
  background-position-y: -366px;
  margin: 0 43px;
}

#home {
    height: 745px;
}

.card-header {
  text-align: center;
  display: block;
  margin-top: 53px;
}

.underbar {
  text-align: center;
  border-bottom: 3px solid #B79B78;
  content: "";
  display: block;
  width: 85px;
  margin: -15px auto 29px auto;
  padding-bottom: 20px;
}


.contact-container{
  margin-bottom: 52px;
}

/*adjusting for removal from container for full-width background image*/
.about {
  margin: 16px 55px 0 55px;
  color: white;

}

/*removes highlighting of carousel image*/
.slick-slide {
    outline: none
}

.nav-pills {
  display: flex;
  justify-content: center;
}

/*inactive menu nav pill*/
.nav-pills li a{
  color: black;
}

/*active menu nav pill*/
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    color: #fff;
    background-color: orange;
}


.parallax-1 {
  background: url("../../images/pho-dark.png") black;

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-2 {
  background-image: url("../../images/rustic-wood.jpg");
  /*background-image: url("../../images/pho.jpeg");*/
  margin: 0 43px;
  /* Set a specific height */
  height: auto;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.no-container {
  margin: 0 47px 21px;
}

/*out of container spacing for full width background*/
.about-spacing{
  margin: 0px -27px;
  padding: 17px;
}

/*fix for the fixed-top height issue*/
.navbar-nav > li > a, .navbar-brand {
    padding-top:6px !important;
    padding-bottom:5px !important;
    height: 32px;
}
.navbar {min-height:24px !important;}

.location-hours {
  display:flex;
}

.hours {
  margin-left: 23px;
  margin-bottom: 36px;
}

td:first-child {
  font-weight: bold;
  padding-right: 6px;
}

/*hides mobile version of unresponsive google map*/
.map-mobile {
  display:none;
}

/*social li reset*/
p.card-header.connect.lead, div.row.contact-container ul{
  margin-left: 0px;
}

.menu-center {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  padding-top: 18px;
  margin: 0 -4px;
}

.menu-above{
  margin-top: 16px;
}

#myImg2{
  margin-left: 40px;
}

footer {
  display:flex;
  background-color: #777777;
  color: white;
  height: 59px;
}

.footer-address {
  display:flex;
  align-items: center;
  margin-left: 29px;
  font-size: 12px;
}

.footer-name {
  margin-left: auto;
  margin-right: 29px;
  display:flex;
  align-items: center;
  font-size: 12px;
}


}
/*popup modal menu*/
/* Style the Image Used to Trigger the Modal */
#myImg #myImg2{
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}
#myImg2:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption #caption2 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption, #caption2 {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 45px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  opacity: 1;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
      width: 100%;
  }
}
/*end popup modal menu*/












/*iphone 5 and smaller*/
@media screen and (max-width: 320px) {

  .jumbotron {
    height: 586px !important;
    margin: 0px;
    width: 372px;
    border-bottom: unset !important;
  }
  /*main image alignment*/
  .jumbotron .container {
    max-width: 100% !important;
    margin-right: 67px !important;
    margin-top: -223px !important;
  }

  /*hamburger button alignment*/
  .navbar-header {
    max-width: 343px !important;
  }

  div.navbar-header{
    width: 331px;
  }

  .navbar {
    margin-left: -31px !important;
  }

  .navbar-toggle {
    margin-right: 14px !important;
    margin-top: 0px !important;
  }

  /*menu alignment*/
  .no-container {
    margin-left: 10px !important;
    margin-right: 5px !important;
  }

  /*about alignment*/
  .parallax-2{
    margin-right: -51px !important;
    margin-left: -1px !important;

    padding-top: 13px !important;
    padding-bottom: 2px !important;
  }

  .contact-container ul, .contact-container li {
    margin: 12px 20px 2px 1px !important;
  }

  .row .contact-container{
    margin-left: -53px !important;
    margin-bottom: -73px !important;
  }

  .about {
    margin: -3px 97px 5px 49px;
  }

  .about-spacing{
    margin: 0px -53px !important
  }

  .map {
    display:none !important;
  }

  .map-mobile {
    display:unset;
  }

  .location-hours {
    margin-right: 23px !important;
  }

  .connect{
    margin-left: -3px !important;
  }

  .connect.lead{
    margin-left: 11px !important;
  }

  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .navbar-collapse{
    position: absolute;
    margin-top: -20px;
    border:white;

  }
  .nav>li {
      position: relative;
      display: block;
      margin-right: 414px;
      font-size: 17px;
      padding: 6px;
      text-align: right;
      padding-left: 230px;
  }

  .menu-center {
    display: flex;
    padding-top: 18px;
    padding-left: 53px;
    flex-direction: column;
  }

  #myImg2{
    margin-left: 0px;
  }

  .parallax-2{
    margin: 0;
  }

  p.one{
    font-size: 18px !important;
  }
  .underbar {
  display: none;
  }

  .menu-above{
    margin-bottom: -17px
  }

}


/*iphone 6*/
@media screen and (min-width: 321px) and (max-width: 375px) {

  .jumbotron {
    height: 586px !important;
    margin: 0px;
    width: 394px;
    border-bottom: unset !important;
  }
  /*main image alignment*/
  .jumbotron .container {
    max-width: 100% !important;
    margin-right: 67px !important;
    margin-top: -223px !important;
  }

  /*hamburger button alignment*/
  .navbar-header {
    max-width: 385px !important;
  }

  .navbar{
    margin-left: -31px !important;
    margin-right: -52px;
  }

  .navbar-toggle {
    margin-right: 14px !important;
    margin-top: 0px !important;
  }

  /*menu alignment*/
  .no-container {
    margin-left: 10px !important;
    margin-right: 5px !important;
  }

  /*about alignment*/
  .parallax-2{
    margin-right: -51px !important;
    padding-top: 13px !important;
    padding-bottom: 2px !important;
  }

  .contact-container ul, .contact-container li {
    margin: 12px 20px 2px 1px !important;
  }

  .row .contact-container{
    margin-left: -53px !important;
    margin-bottom: -73px !important;
  }

  .about {
    margin: -3px 97px 21px 49px;
  }

  .about-spacing{
    margin: 0px -53px !important
  }

  .card-header{
    margin-bottom: 22px;
  }

  .map {
    display:none !important;
  }

  .map-mobile {
    display:unset;
  }

  .location-hours {
    margin-right: 23px !important;
  }

  .connect{
    margin-left: -3px !important;
  }

  .connect.lead{
    margin-left: 11px !important;
  }

  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .navbar-collapse{
    position: absolute;
    margin-top: -20px;
    border:white;

  }
  .nav>li {
      position: relative;
      display: block;
      margin-right: 414px;
      font-size: 17px;
      padding: 6px;
      text-align: right;
      padding-left: 287px;
  }

  .menu-center {
    display: flex;
    padding-top: 18px;
    padding-left: 83px;
    flex-direction: column;
  }

  #myImg2{
    margin-left: 0px;
  }

  .parallax-2{
    margin: 0;
  }

  p.one{
    font-size: 18px !important;
  }
  .underbar {
  display: none;
  }

}

/*iphone 6 plus*/
@media screen and (min-width: 376px) and (max-width: 414px) {

  .jumbotron {
    height: 586px !important;
    margin: 0px;
    width: 414px;
    border-bottom: unset !important;
  }
  /*main image alignment*/
  .jumbotron .container {
    max-width: 100% !important;
    margin-right: 67px !important;
    margin-top: -223px !important;
  }

  /*hamburger button alignment*/
  .navbar-header {
    max-width: 417px !important;
  }

  .navbar{
    margin-left: -31px !important;
    margin-right: -52px;
  }

  .navbar-toggle {
    margin-right: 7px !important;
    margin-top: 0px !important;
  }

  /*menu alignment*/
  .no-container {
    margin-left: 10px !important;
    margin-right: 15px !important;
  }

  /*about alignment*/
  .parallax-2{
    margin-right: -51px !important;
    padding-top: 13px !important;
    padding-bottom: 2px !important;
  }

  .contact-container ul, .contact-container li {
    margin: 12px 20px 2px 1px !important;
  }

  .row .contact-container{
    margin-left: -53px !important;
    margin-bottom: -73px !important;
  }

  .about {
    margin: -3px 97px 5px 49px;
  }

  .about-spacing{
    margin: 0px -53px !important
  }

  .map {
    display:none !important;
  }

  .map-mobile {
    display:unset;
  }

  .location-hours {
    margin-right: 23px !important;
  }

  .connect{
    margin-left: -3px !important;
  }

  .connect.lead{
    margin-left: 11px !important;
  }

  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .navbar-collapse{
    position: absolute;
    margin-top: -20px;
    border:white;

  }
  .nav>li {
      position: relative;
      display: block;
      margin-right: 414px;
      font-size: 23px;
      padding: 6px;
      text-align: right;
      padding-left: 305px;
  }

  .menu-center {
    display: flex;
    padding-top: 18px;
  }

  #myImg2{
    margin-left: 0px;
  }

  .parallax-2{
    margin: 0;
  }

  p.one{
    font-size: 18px !important;
  }
  .underbar {
  display: none;
  }

  .margin-above{
    margin-bottom: -15px;
}


  }

}
