body {
  min-height: 2000px;
  padding-top: 40px;
}

.main-font {
  font-family: 'Gloria Hallelujah', cursive;
}

.secondary-font {
  font-size: 12px
}

.navbar {
  height: 44px;
}

.navbar-brand {
  font-size: 32px;
  border-color: #fff;
}

.navbar-default {
  /*height: 56px;*/
  background-color: #fff;
  border-color: #fff;
  padding: 6px 44px 0 30px;
}

.navbar-toggle {
  margin-right: 0px;
  margin-top: 0px;
}

.navbar-right {
  margin-right: -5px;
  background-color: white;
  margin-top: 6px;
}

.navbar-collapse  {
  margin-right: -9px;
}

.jumbotron {
  background-size: 100%;
  background-position: center;
  background-position-y: -366px;
  margin: 0 43px;
}

}


.contact-container{
  margin-bottom: 52px;
}

/*adjusting for removal from container for full-width background image*/
.about {
  margin: 0 55px;
  color: white;

}


.parallax-1 {
  background-image: url("https://static1.squarespace.com/static/548688c0e4b0e8544760ca61/t/584f230b414fb546429bd265/1481581334554/Sauteed+Green+Beans.jpg");

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-2 {
  background-image: url("../../images/rustic-wood.jpg");
  /* Set a specific height */
  height: auto;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.no-container {
  margin: 0 47px 21px;
}

/*out of container spacing for full width background*/
.about-spacing{
  margin: 0px -27px;
  padding: 17px;
}

/*fix for the fixed-top height issue*/
.navbar-nav > li > a, .navbar-brand {
    padding-top:4px !important;
    padding-bottom:0 !important;o
    height: 32px;
}
.navbar {min-height:24px !important;}

.location-hours {
  display:flex;
}

.hours {
  margin-left: 23px;
  margin-bottom: 36px;
}

td:first-child {
  font-weight: bold;
  padding-right: 6px;
}

/*hides mobile version of unresponsive google map*/
.map-mobile {
  display:none;
}

table {
  min-width: 200px;
}

/*iphone 5 and smaller*/
@media screen and (max-width: 320px) {

  .jumbotron {
    height: 586px !important;
    margin: 0px;
    width: 372px;
    border-bottom: unset !important;
  }
  /*main image alignment*/
  .jumbotron .container {
    max-width: 100% !important;
    margin-right: 67px !important;
    margin-top: -223px !important;
  }

  /*hamburger button alignment*/
  .navbar-header {
    max-width: 343px !important;
  }

  div.navbar-header{
    width: 331px;
  }

  .navbar {
    margin-left: -31px !important;
  }

  .navbar-toggle {
    margin-right: 14px !important;
    margin-top: 0px !important;
  }

  /*menu alignment*/
  .no-container {
    margin-left: 10px !important;
    margin-right: 5px !important;
  }

  /*about alignment*/
  .parallax-2{
    margin-right: -51px !important;
    padding-top: 13px !important;
    padding-bottom: 2px !important;
  }

  .contact-container ul, .contact-container li {
    margin: 12px 20px 2px 1px !important;
  }

  .row .contact-container{
    margin-left: -53px !important;
    margin-bottom: -73px !important;
  }

  .about {
    margin: -3px 97px 5px 49px;
  }

  .about-spacing{
    margin: 0px -53px !important
  }

  .map {
    display:none !important;
  }

  .map-mobile {
    display:unset;
  }

  .location-hours {
    margin-right: 23px !important;
  }

  .connect{
    margin-left: -3px !important;
  }

  .connect.lead{
    margin-left: 11px !important;
  }

  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .navbar-collapse{
    position: absolute;
    margin-top: -20px;
    border:white;

  }
  .nav>li {
      position: relative;
      display: block;
      margin-right: 414px;
  }

}


/*iphone 6*/
@media screen and (min-width: 321px) and (max-width: 375px) {

  .jumbotron {
    height: 586px !important;
    margin: 0px;
    width: 394px;
    border-bottom: unset !important;
  }
  /*main image alignment*/
  .jumbotron .container {
    max-width: 100% !important;
    margin-right: 67px !important;
    margin-top: -223px !important;
  }

  /*hamburger button alignment*/
  .navbar-header {
    max-width: 385px !important;
  }

  .navbar{
    margin-left: -31px !important;
    margin-right: -52px;
  }

  .navbar-toggle {
    margin-right: 14px !important;
    margin-top: 0px !important;
  }

  /*menu alignment*/
  .no-container {
    margin-left: 10px !important;
    margin-right: 5px !important;
  }

  /*about alignment*/
  .parallax-2{
    margin-right: -51px !important;
    padding-top: 13px !important;
    padding-bottom: 2px !important;
  }

  .contact-container ul, .contact-container li {
    margin: 12px 20px 2px 1px !important;
  }

  .row .contact-container{
    margin-left: -53px !important;
    margin-bottom: -73px !important;
  }

  .about {
    margin: -3px 97px 5px 49px;
  }

  .about-spacing{
    margin: 0px -53px !important
  }

  .map {
    display:none !important;
  }

  .map-mobile {
    display:unset;
  }

  .location-hours {
    margin-right: 23px !important;
  }

  .connect{
    margin-left: -3px !important;
  }

  .connect.lead{
    margin-left: 11px !important;
  }

  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .navbar-collapse{
    position: absolute;
    margin-top: -20px;
    border:white;

  }
  .nav>li {
      position: relative;
      display: block;
      margin-right: 414px;
  }

}

/*iphone 6 plus*/
@media screen and (min-width: 376px) and (max-width: 414px) {

  .jumbotron {
    height: 586px !important;
    margin: 0px;
    width: 414px;
    border-bottom: unset !important;
  }
  /*main image alignment*/
  .jumbotron .container {
    max-width: 100% !important;
    margin-right: 67px !important;
    margin-top: -223px !important;
  }

  /*hamburger button alignment*/
  .navbar-header {
    max-width: 417px !important;
  }

  .navbar{
    margin-left: -31px !important;
    margin-right: -52px;
  }

  .navbar-toggle {
    margin-right: 7px !important;
    margin-top: 0px !important;
  }

  /*menu alignment*/
  .no-container {
    margin-left: 10px !important;
    margin-right: 15px !important;
  }

  /*about alignment*/
  .parallax-2{
    margin-right: -51px !important;
    padding-top: 13px !important;
    padding-bottom: 2px !important;
  }

  .contact-container ul, .contact-container li {
    margin: 12px 20px 2px 1px !important;
  }

  .row .contact-container{
    margin-left: -53px !important;
    margin-bottom: -73px !important;
  }

  .about {
    margin: -3px 97px 5px 49px;
  }

  .about-spacing{
    margin: 0px -53px !important
  }

  .map {
    display:none !important;
  }

  .map-mobile {
    display:unset;
  }

  .location-hours {
    margin-right: 23px !important;
  }

  .connect{
    margin-left: -3px !important;
  }

  .connect.lead{
    margin-left: 11px !important;
  }

  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .navbar-collapse{
    position: absolute;
    margin-top: -20px;
    border:white;

  }
  .nav>li {
      position: relative;
      display: block;
      margin-right: 414px;
  }

}
